<template>
    <div class="div">
        <div class="content-header">
            <h1 style="display: inline;">
                {{ trans('pages.pages') }}
            </h1>
            <h4 style="display: inline;" v-if="this.isTrash">[ {{ trans('core.trash') }} ]</h4>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <a href="/backend">{{ trans('core.breadcrumb.home') }}</a>
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{name: 'admin.page.page.index'}">{{ trans('pages.pages') }}</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="sc-table">
                            <div class="tool-bar el-row" style="padding-bottom: 20px;">
                                <div class="actions el-col el-col-6">
                                    <el-dropdown @command="handleExtraActions" v-if="showExtraButtons">
                                        <el-button type="primary">
                                            {{ trans('core.table.actions') }}<i class="el-icon-caret-bottom el-icon--right"></i>
                                        </el-button>
                                        <el-dropdown-menu slot="dropdown">
                                            <!-- GOBALO MOD -->
                                            <!--el-dropdown-item command="mark-online">{{ trans('core.mark as online') }}</el-dropdown-item-->
                                            <!--el-dropdown-item command="mark-offline">{{ trans('core.mark as offline') }}</el-dropdown-item-->
                                            <el-dropdown-item command="delete-selected">{{ trans('core.Delete items selected') }}</el-dropdown-item>
                                            <!-- FIN GOBALO MOD -->
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                    <router-link :to="{name: 'admin.page.page.create'}" v-if="!isTrash">
                                        <el-button type="primary"><i class="el-icon-edit"></i>
                                            {{ trans('pages.create page') }}
                                        </el-button>
                                    </router-link>
                                </div>
                                <div class="search el-col el-col-2 col-trash">
                                	<el-button type="primary" @click="goToList(scope)" v-if="this.isTrash">
                                		<i class="fa fa-list"></i>  
                                		{{ this.trans('core.list') }}
                                    </el-button>
                                    <el-button type="danger" @click="goToTrash(scope)" v-if="!this.isTrash">
                                		<i class="fa fa-trash"></i>  
                                		{{ this.trans('core.trash') }}
                                    </el-button>
                                </div>
                                <div class="search el-col el-col-4 input-search">
                                    <el-input prefix-icon="el-icon-search" @keyup.native="performSearch" v-model="searchQuery">
                                    </el-input>
                                </div>
                                <div class="search el-col el-col- col-trash">
                                    <el-select :placeholder="trans('pages.status')" v-model="status" @change="queryServer()" v-if="!isTrash">
                                    	<el-option :label="status" value="" key="">{{ trans('translations.No filter') }}</el-option>
                                        <el-option v-for="(status, key) in statuses" :key="key"
                                                :label="status" :value="key"></el-option>
                                    </el-select>
                                </div>
                            </div>

                            <el-table
                                    :data="data"
                                    stripe
                                    style="width: 100%"
                                    ref="pageTable"
                                    v-loading.body="tableIsLoading"
                                    @sort-change="handleSortChange"
                                    @selection-change="handleSelectionChange">
                                <el-table-column
                                        type="selection"
                                        width="55">
                                </el-table-column>
                                <!-- GOBALO MOD -->
                                <el-table-column prop="id" label="Id" width="75" sortable="custom">
                                </el-table-column>
                                <!-- FIN GOBALO MOD -->
                                <el-table-column prop="translations.title" :label="trans('pages.title')">
                                    <template slot-scope="scope">
                                        <!-- GOBALO MOD -->
                                        <div v-if="!scope.row.translations.is_active && !scope.row.is_home">
                                            {{ trans('translations.Inactive translation') }}
                                        </div>
                                        <div v-if="!scope.row.translations.is_active && scope.row.is_home">
                                            {{ trans('translations.Inactive translation') }} - {{ trans('pages.homepage') }}</p>
                                        </div>

                                        <a @click.prevent="goToEdit(scope)" href="#" v-if="scope.row.translations.is_active && !scope.row.is_home">
                                            {{ scope.row.translations.title }}
                                        </a>

                                        <div v-if="scope.row.translations.is_active && scope.row.is_home">
                                            <a @click.prevent="goToEdit(scope)" href="#" >
                                                {{ scope.row.translations.title }}
                                            </a>
                                            - {{ trans('pages.homepage') }}
                                        </div>
                                        <!-- FIN GOBALO MOD -->
                                </template>
                                </el-table-column>
                                <el-table-column prop="translations.slug" :label="trans('pages.slug')">
                                    <template slot-scope="scope">
                                        <a @click.prevent="goToEdit(scope)" href="#" v-if="scope.row.translations.is_active">
                                            {{  scope.row.translations.slug }}
                                        </a>
                                        <!-- GOBALO MOD -->
                                         <div v-if="!scope.row.translations.is_active">
                                            {{ trans('translations.Inactive translation') }}
                                        </div>
                                        <!-- FIN GOBALO MOD -->
                                    </template>
                                </el-table-column>
                                
                                <!-- GOBALO MOD -->
                                <el-table-column prop="author" :label="trans('pages.author')" width="200">
                                </el-table-column>
                                <!-- FIN GOBALO MOD -->
                                
                                <el-table-column :label="trans('pages.status')" width="120" align="center" v-if="!this.isTrash">
                                    <template slot-scope="scope">
                                     {{ trans('pages.statuses.' + scope.row.status) }}
                                    </template>
                                </el-table-column>

								
                                <!-- GOBALO MOD -->
                                <el-table-column :label="trans('pages.visibility')" width="100" align="center" v-if="!this.isTrash">
                                    <template slot-scope="scope">
                                     {{ trans('pages.visibilities.' + scope.row.visibility) }}
                                    </template>
                                </el-table-column>
                                <!-- FIN GOBALO MOD -->

                                <el-table-column prop="created_at" :label="trans('core.table.created at')" sortable="custom" width="175" align="center">
                                </el-table-column>

                                <!-- GOBALO MOD -->
                                <el-table-column prop="publish_at" :label="trans('pages.publish date')" sortable="custom" width="175" align="center" v-if="!this.isTrash">
                                </el-table-column>
                                <!-- FIN GOBALO MOD -->

                                <el-table-column prop="actions" :label="trans('core.table.actions')" width="190" align="center">
                                    <template slot-scope="scope">
                                        <el-button-group>
                                            <!-- GOBALO MOD -->
                                            <el-button @click="goToView(scope)" type="success" size="mini" icon="fa fa-eye" v-if="scope.row.translations.is_active && !isTrash"></el-button>
                                            <el-button type="success" size="mini" icon="fa fa-eye" v-if="!scope.row.translations.is_active && !isTrash" disabled></el-button>
                                            <!-- FIN GOBALO MOD -->
                                            <edit-button :to="{name: 'admin.page.page.edit', params: {pageId: scope.row.id}}"></edit-button>
                                            <!-- GOBALO MOD -->
                                            <el-button @click="clone(scope.row.id)" type="primary" size="mini" icon="fa fa-clone" v-if="!isTrash"></el-button>
                                            <!-- FIN GOBALO MOD -->
                                            <delete-button :scope="scope" :rows="data"></delete-button>
                                        </el-button-group>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <div class="pagination-wrap" style="text-align: center; padding-top: 20px;">
                                <el-pagination
                                        @size-change="handleSizeChange"
                                        @current-change="handleCurrentChange"
                                        :current-page.sync="meta.current_page"
                                        :page-sizes="[10, 20, 50, 100]"
                                        :page-size="parseInt(meta.per_page)"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total="meta.total">
                                </el-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button v-shortkey="['c']" @shortkey="pushRoute({name: 'admin.page.page.create'})" v-show="false"></button>
    </div>
</template>

<script>
    import axios from 'axios';
    import _ from 'lodash';
    import ShortcutHelper from '../../../../Core/Assets/js/mixins/ShortcutHelper';

    let data;

    export default {
        mixins: [ShortcutHelper],
        data() {
            return {
                data,
                meta: {
                    current_page: 1,
                    per_page: 10,
                },
                order_meta: {
                    order_by: 'id',
                    order: 'desc',
                },
                links: {},
                searchQuery: '',
                tableIsLoading: false,
                showExtraButtons: false,
                selectedPages: {},
                /* GOBALO MOD */
                isTrash: false,
                routes: {
                	deleteUrl: ''
                },
                messages: {
                	confirmationDeleteBulkMessage: '',
                	deleteButton: '',
                	deletedSuccessfully: ''
                },
                statuses: {
                    published: this.trans('pages.statuses.published'),
                    scheduled: this.trans('pages.statuses.scheduled'),
                    draft: this.trans('pages.statuses.draft'),
                },
                status: ''
                /* FIN GOBALO MOD */
            };
        },
        watch: {
            selectedPages() {
                this.showExtraButtons = this.selectedPages.length >= 1;
            },
        },
        methods: {
            queryServer(customProperties) {
                const properties = {
                    page: this.meta.current_page,
                    per_page: this.meta.per_page,
                    order_by: this.order_meta.order_by,
                    order: this.order_meta.order,
                    search: this.searchQuery,
                };
				
				/* GOBALO MOD */
				
				if(this.isTrash)
					properties.status = 'trash';
				else if(this.status !== '')
					properties.status = this.status;
				
				/* FIN GOBALO MOD */
				
                axios.get(route('api.page.page.indexServerSide', _.merge(properties, customProperties)))
                    .then((response) => {
                        this.tableIsLoading = false;
                        this.data = response.data.data;
                        this.meta = response.data.meta;
                        this.links = response.data.links;

                        this.order_meta.order_by = properties.order_by;
                        this.order_meta.order = properties.order;

                        /* GOBALO MOD */
                        if(this.data.length === 0 && this.meta.current_page > 1){
                            this.meta.current_page--; 
                            this.fetchData();
                        }
                        /* FIN GOBALO MOD */

                    });
            },
            fetchData() {
                this.tableIsLoading = true;
                this.queryServer();
            },
            handleSizeChange(event) {
                console.log(`per page :${event}`);
                this.tableIsLoading = true;
                this.queryServer({ per_page: event });
            },
            handleCurrentChange(event) {
                console.log(`current page :${event}`);
                this.tableIsLoading = true;
                this.queryServer({ page: event });
            },
            handleSortChange(event) {
                console.log('sorting', event);
                this.tableIsLoading = true;
                this.queryServer({ order_by: event.prop, order: event.order });
            },
            performSearch: _.debounce(function (query) {
                console.log(`searching:${query.target.value}`);
                this.tableIsLoading = true;
                this.queryServer({ search: query.target.value });
            }, 300),
            handleExtraActions(action) {
            	/* GOBALO MOD */
                const ids = _.map(this.selectedPages, elem => elem.id);
                
                switch(action){
                    case 'delete-selected':
                        this.$confirm(this.messages.confirmationDeleteBulkMessage, this.trans('core.modal.title-attention'), {
                            confirmButtonText: this.messages.deleteButton,
                            cancelButtonText: this.trans('core.button.cancel'),
                            type: 'warning',
                            confirmButtonClass: 'el-button--danger',
                        }).then(() => {
                        	this.tableIsLoading = true;
                            axios.post(this.deleteUrl, { ids: ids })
                                .then((response) => {
                                        this.fetchData();
                                    	this.$message({
			                                type: 'success',
			                                message: this.messages.deletedSuccessfully
			                            });
                                });
                        });
                        break;
                }
                /* FIN GOBALO MOD */
            },
            handleSelectionChange(selectedPages) {
                this.selectedPages = selectedPages;
            },
            goToEdit(scope) {
                this.$router.push({ name: 'admin.page.page.edit', params: { pageId: scope.row.id } });
            },
            /* GOBALO MOD */
            goToView(scope) {
                window.location.href= scope.row.urls.public_url;
            },
            goToList(scope) {
            	 window.location.href = route('admin.page.page.index');
            },
            goToTrash(scope) {
            	 window.location.href = route('admin.page.page.trash');
            },
            clone(id) {
                axios.post(route('api.page.page.clone', id))
                    .then((response) => {
                        this.fetchData();
                    });
            },
            ifIsTrash() {
            	if(this.isTrash){
            		// Routes
            		this.deleteUrl = route('api.page.page.destroyall')
            		
            		// Messages
            		this.messages.confirmationDeleteBulkMessage = this.trans('core.modal.confirmation-delete-bulk-message');
            		this.messages.deleteButton = this.trans('core.button.delete');
            		this.messages.deletedSuccessfully = this.trans('core.Items deleted successfully');
        		}else{
        			// Routes
            		this.deleteUrl = route('api.page.page.destroyallonlytrash')
            		
            		// Messages
            		this.messages.confirmationDeleteBulkMessage = this.trans('core.modal.confirmation-delete-bulk-message-trash');
            		this.messages.deleteButton = this.trans('core.button.move-to-trash');
            		this.messages.deletedSuccessfully = this.trans('core.Items deleted successfully trash');
        		} 
            }
            /* FIN GOBALO MOD */

        },
        mounted() {
        	/* GOBALO MOD */
			var urlSplit = window.location.href.split('/');
			if( urlSplit[urlSplit.length -1] === 'trash')
				this.isTrash = true;
			this.ifIsTrash();
			/* FIN GOBALO MOD */
			
            this.fetchData();
        },
    };
</script>
<style>
    .text-success {
        color: #13ce66;
    }
    .text-danger {
        color: #ff4949;
    }
</style>
